#*.map
#*.label
#*.data
*.ipynb_checkpoints
dataset/
*Fonts*
*pic*
*video*
*.ttf
*.TTF
*.png
*.PNG
*.jpg
*.jpeg
*.pyc
*.txt
*.rar
*.o
*.xml
*.tar
*dummy*
10_Name_Card_Detection/Data/VOCdevkit/VOCdevkit/VOC2007/
